<body>
    <div class="container">
        <div class="row">
            <div class="col-12 instruction">
                <h2 class="instruction-heading">Instructions:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="alert alert-success min-height-210" role="alert">
                    <h4 class="alert-heading">Do:</h4>
                    <ul>
                        <li>Read the questions carefully.</li>
                        <li>Answer all the questions within the given time.</li>
                        <li>Double-check your answers before submitting.</li>
                        <li>Follow the instructions provided for each question.</li>
                        <li>Seek clarification if you have any doubts.</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="alert alert-danger min-height-210" role="alert">
                    <h4 class="alert-heading">Do Not:</h4>
                    <ul>
                        <li>Use any external resources or aids.</li>
                        <li>Communicate or collaborate with others.</li>
                        <li>Attempt to cheat or copy answers.</li>
                        <li>Use any electronic devices during the assessment.</li>
                        <li>Engage in any behavior that violates the assessment rules.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-block" (click)="goToDomain()">Next</button>
            </div>
        </div>
    </div>
</body>